<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab|Dosis' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/images/favF.png"/>
    
    <meta charset="utf-8">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2">
    </script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="http://interaktiv.smp.no/2014/Festivaler/js/pym.js" >
    </script>
    
    
    <!--  Mobilview først-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">
            Toggle navigation
          </span>
          <span class="icon-bar">
            
          </span>
          <span class="icon-bar">
          </span>
          
          <span class="icon-bar">
          </span>
        </button>
        <a class="navbar-brand" href="http://www.smp.no" target="_blank">
          <img src="/static/images/S.png">
        </a>
        
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#guide">
              FESTIVALGUIDEN
            </a>
          </li>
          <li>
            <a href="#velg">
              
              VELG
            </a>
          </li>
          <li>
            <a href="#alle">
              OVERSIKT
            </a>
          </li>
          <li>
            <a href="#om">
              OM
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
  
  
<a href="/testlarallax.html">parallaxtest</a>
  
  
  
  <!--Body start-->
  <body style= "background-color:#fffff;padding-top:70px;font-family:Dosis;">
    <div class="container">
      <!--Annonse-->
      <img  class="displayed" style="width:100%;margin-top:-20px;"src="/static/images/Annonse.jpg" />
                  
      <a name="guide">
      </a>
      
     <!--mobillogo start-->
      <div class="h2-break">
        <div class="hidden-sm hidden-md hidden-lg">
          <img style="margin-top:-60px" width="100%" src="/static/images/vimpler.jpg" />
          <img class="logoBmobil" src="/static/images/logoBxs.png" />
          <hr>
        </div>
      </div> 
     <!--mobillogo end-->

    <!--desktoplogo start-->
    <div class="h2-break">
      <div class="hidden-xs">
        <img style="margin-top:-60px" width="100%" src="/static/images/vimpler.jpg" />
        <img class="logoB" src="/static/images/logoB.png" />
        <hr>
      </div>
    </div>
    <!--desktoplogo end-->
          
      <a name="velg">
      </a>
      
      <!--mobilknapper start-->
          <div class="h2-break">
            <div class="hidden-sm hidden-md hidden-lg">
            <p>
              
              <span>
                
                <h3>
                  VELG HVA DU VIL HA:
                </h3>
              </span>
            </p>
            <p>
            
            <button type="button" class="btn btn-warning btn-sm knapp2">
              MAI
            </button>
            <button type="button" class="btn btn-warning btn-sm knapp2">
              JUNI
            </button>
            
            <button type="button" class="btn btn-warning btn-sm knapp2">
              JULI
            </button>
            
            <button type="button" class="btn btn-warning btn-sm knapp2">
              AUGUST
            </button>
            <button type="button" class="btn btn-danger btn-sm knapp2">
              MUSIKK
            </button>
            
            <button type="button" class="btn btn-danger btn-sm knapp2">
              TEATER
            </button>
            <button type="button" class="btn btn-danger btn-sm knapp2">
              REVY
            </button>
            <button type="button" class="btn btn-danger btn-sm knapp2">
              HUMOR
            </button>
            
            <button type="button" class="btn btn-danger btn-sm knapp2">
              BYGDEFESTIVAL
            </button>
            
            <button type="button" class="btn btn-success btn-sm knapp2">
              GRATIS
            </button>
            <button type="button" class="btn btn-success btn-sm knapp2">
              OPP TIL 500 kr.
            </button>
            <button type="button" class="btn btn-success btn-sm knapp2">
              FRA 500-1.000 kr.
            </button>
            
            <button type="button" class="btn btn-success btn-sm knapp2">
              OVER 1.000 kr.
            </button>
            
            <button type="button" class="btn btn-success btn-sm knapp2">
              FESTIVALPASS
            </button>
            <button type="button" class="btn btn-info btn-sm knapp2">
              BARNEVENNLIG FESTIVAL
            </button>
            
            <button type="button" class="btn btn-info btn-sm knapp2">
              FESTIVALCAMP
            </button>
            
            <button type="button" class="btn btn-info btn-sm knapp2">
              TILBYR TRANSPORT
            </button>
            <button type="button" class="btn btn-info btn-sm knapp2">
              TILRETTELAGT FOR FUNKSJONSHEMMEDE
            </button>
            
            <br>
            
            <button type="button" class="btn btn-primary btn-sm knapp2">
              VIS ALLE
            </button>
          </p>
          
        </div>
      </div>
    
      <!--mobilknapper end-->

    <!--desktopknapper start-->
        <div class="h2-break">
          <div class="hidden-xs">
          <p>
            <span>
              
              <h3>
                VELG HVA DU VIL HA:
              </h3>
              
            </span>
          </p>
            <p>
              <button type="button" class="btn btn-warning btn-lg knapp">
                MAI
              </button>
              <button type="button" class="btn btn-warning btn-lg knapp">
                JUNI
              </button>
              
              <button type="button" class="btn btn-warning btn-lg knapp">
                JULI
              </button>
              
              <button type="button" class="btn btn-warning btn-lg knapp">
                AUGUST
              </button>
              <button type="button" class="btn btn-danger btn-lg knapp">
                MUSIKK
              </button>
              
              <button type="button" class="btn btn-danger btn-lg knapp">
                TEATER
              </button>
              <button type="button" class="btn btn-danger btn-lg knapp">
                REVY
              </button>
              <button type="button" class="btn btn-danger btn-lg knapp">
                HUMOR
              </button>
              
              <button type="button" class="btn btn-danger btn-lg knapp">
                BYGDEFESTIVAL
              </button>
              
              <button type="button" class="btn btn-success btn-lg knapp">
                GRATIS
              </button>
              <button type="button" class="btn btn-success btn-lg knapp">
                OPP TIL 500 kr.
              </button>
              <button type="button" class="btn btn-success btn-lg knapp">
                FRA 500-1.000 kr.
              </button>
              
              <button type="button" class="btn btn-success btn-lg knapp">
                OVER 1.000 kr.
              </button>
              
              <button type="button" class="btn btn-success btn-lg knapp">
                FESTIVALPASS
              </button>
              <button type="button" class="btn btn-info btn-lg knapp">
                BARNEVENNLIG FESTIVAL
              </button>
              
              <button type="button" class="btn btn-info btn-lg knapp">
                FESTIVALCAMP
              </button>
              
              <button type="button" class="btn btn-info btn-lg knapp">
                TILBYR TRANSPORT
              </button>
              <button type="button" class="btn btn-info btn-lg knapp">
                TILRETTELAGT FOR FUNKSJONSHEMMEDE
              </button>
              
              <br>
              
              <button type="button" class="btn btn-primary btn-lg knapp">
                VIS ALLE
              </button>
          </p>
        </div>
      </div>
  <!--desktopknapper end-->

    <!--start test columns-->
    
    <!---Start liste-->
    <a name="alle">
    </a>
    <br>
    <hr>
    <br>
    <div class="container marketing h2-break">
      <div class="row">
         {% for obj in object_list %}
                  <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
                  <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/static/images/{{obj.id}}.jpg" style="width: 140px; height: 140px;">
                  <h3>{{ obj.name }}</h3>
                  <p><a class="btn btn-default" href="{{ obj.id }}" role="button">Les mer »</a></p>
              </div>
          {% endfor %}
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
      </div>
      <!-- /.row -->
    </div>
    
  <!-- /.container marketing-->
  <!--End liste-->
  <!--/ .container-->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23smpno" data-widget-id="466131340258074624">
          Tweets om «#smpno»
        </a>
        
        <script>
          !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;
              js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
        
      </div>
      <div class="col-md-6 
hidden-xs">
  <div id="map" style="height:600px;max-width:520px">
  </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

<!--footer-->
<a name="om">
</a>
<nav class="navbar navbar-default navbar-bottom" role="navigation" style="background-color:black;height:600px">
  <div class="container">
    <p class="footertekst">
      <br>
      <br>
      Festivalguiden er levert av Sunnmørsposten. 
      <br>
      Tekst og bilder er hentet fra festivalarrangørene, og var hovedsaklig levert før 1. mai 2014. Forbehold om endringer. 
      <br>
      Copyright: Sunnmørsposten 2014. 
      <br>
      <br>
      <img src="/static/images/smp.png">
      
    </p>
    
  </div>
</nav>


        <script type="text/javascript">
            var map = L.map('map').setView([62.480906, 6.464081], 7);
            var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
                subdomains: ['otile1','otile2','otile3','otile4']
            });
            map.addLayer(mapquestLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "festival": "{{ obj.festival }}",
                    "id": "{{ obj.id }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.x }}, {{ obj.y }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
             var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.full_name +
                        '</a>'
                    );
                }
            });
            map.addLayer(dataLayer);
        </script>

        <!--pym.js-script!-->
<script type="text/javascript" src="pym.js"></script>
<script>
    var pymParent = new pym.Parent('example-1', 'http://www.vimeo.com/player.vimeo.com/video/46082080', {});
    var second = new pym.Parent('example-2', 'http://interaktiv.smp.no/2014/rbr/rbrlogo.html', {});
</script>
    </body>
</html>